<h1 style="text-align: center;">EQUIPO DE TRABAJO</h1>
<div class="card-group">

  <div class="card">
    <img src="https://drive.google.com/uc?export=download&id=1M4OmsnkNrjw-iL-OjUqsTuWAuoT_QsZN" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PAMELA SUAZO</h5>
      <p class="card-text">Desarrollador</p>

    </div>
  </div>
  <div class="card">
    <img src="
    https://drive.google.com/uc?export=download&id=1FmoeStSXllvJmtYBqVL2vloGqjwI46J5" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">JOSUE ORDOÑEZ</h5>
      <p class="card-text">Desarrollador</p>
     
    </div>
  </div>
  <div class="card">
    <img src="https://drive.google.com/uc?export=download&id=1TC4WSGIyUahAjyCVpYqcSiZDzXUArut1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rachel Escobar</h5>
      <p class="card-text">Desarrollador</p>
     
    </div>
  </div>
  <div class="card">
    <img src="https://drive.google.com/uc?export=download&id=1V-B15m3fHHmHmSVLsRqwFbl47eIZCQLx" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pablo Carvajal</h5>
      <p class="card-text">Desarrollador</p>
     
    </div>
  </div>
</div>