
<h2 style="text-align: center;">Produccion Hn</h2>
<br>
<p>
  En este espacio describe el trabajo realizado en el proyecto final de la clase Estructura de Datos II de ingenieria en Informatica. El proyecto consiste en el desarrollo del sitio web del inventariado de un empresa Textil. El objetivo de dicha web es
dar una información completa sobre el inventario e informacion de la que dispone, así como
proporcionar una serie de funcionalidades a los clientes y gestionadores de la empresa.
La web es accesible desde cualquier navegador por Internet y tiene información referente a sus miembros y su proyecto de Produccion. Se trata de dar una
visión lo más completa posible de la empresa y su funcionamiento.
</p>



<br>

<br>
<h3 style="text-align: center;">Equipo de Trabajo</h3>
<div class="card-group">

  <div class="card">
    <img src="https://drive.google.com/uc?export=download&id=1M4OmsnkNrjw-iL-OjUqsTuWAuoT_QsZN" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pamela Suazo</h5>
      <p class="card-text">Desarrollador</p>

    </div>
  </div>
  <div class="card">
    <img src="
    https://drive.google.com/uc?export=download&id=1FmoeStSXllvJmtYBqVL2vloGqjwI46J5" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">orlando Ordoñez</h5>
      <p class="card-text">Desarrollador</p>
     
    </div>
  </div>
  <div class="card">
    <img src="https://drive.google.com/uc?export=download&id=1TC4WSGIyUahAjyCVpYqcSiZDzXUArut1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rachel Escobar</h5>
      <p class="card-text">Desarrollador</p>
     
    </div>
  </div>
  <div class="card">
    <img src="https://drive.google.com/uc?export=download&id=1V-B15m3fHHmHmSVLsRqwFbl47eIZCQLx" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pablo Carvajal</h5>
      <p class="card-text">Desarrollador</p>
     
    </div>
  </div>
</div>