<h2 style="text-align: center;">PRODUCCION HN</h2>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
            <div class="col-md-8">
        <div class="card-body" style="text-align: justify;">
          <h5 class="card-title">MISION</h5>
          <p class="card-text">Elaborar productos textiles e innovadores de alta calidad que satisfagan las necesidades de nuestros clientes, brindando siempre un servicio de excelencia, capacitando y desarrollando las competencias de nuestro equipo de trabajo orientando la mejora continua en nuestros procesos para así lograr la rentabilidad que permita el crecimiento de nuestra empresa como el de nuestros colaboradores.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
            <div class="col-md-8">
        <div class="card-body" style="text-align: justify;">
          <h5 class="card-title">VISION</h5>
          <p class="card-text">Ser una empresa líder en textiles reconocida por su innovación, calidad y servicio a nivel nacional, promoviéndose siempre como una oportunidad para asociarse con cualquier industria y describiéndose como un lugar extraordinario para trabajar.</p>
        </div>
      </div>
    </div>
  </div>