<H1 style="text-align: center;">DIAGRAMAS</H1>
<H2>CASO DE USO</H2>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="
        https://drive.google.com/uc?export=download&id=1tTM4MPg1e7oLPC26bMx3iTdrKekLaaFJ" class="card-img-top" alt="...">
        <div class="card-body">
        
        </div>
      </div>
    </div>
    </div>
<h1></h1>
<H2>DIAGRAMA DE CLASES</H2>
    <div class="col">
      <div class="card">
        <img src="
        https://drive.google.com/uc?export=download&id=13xGI1tVaKJbZ_C_c6I42RcbE66sm47Eq" class="card-img-top" alt="..." style="width: 40em;">
        <div class="card-body">
          
        </div>
      </div>
  </div>